.react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output,
.react-flow__node-group {
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-color: none  !important;
  box-shadow: none !important;
}
.react-flow__edge-path, .react-flow__connection-path{
  stroke-width: 3px !important;
  padding: 2rem !important;
}
.react-flow__handle.connectionindicator {
  margin: .2rem 0;
}
.threeContent{
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-color: none  !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px !important;
  width: 100px !important;
  flex-direction: column;
}
.threeContainer{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: red;
  margin: 5px 10px;
}
.fourContent{
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-color: none  !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px !important;
  width: 100px !important;
  flex-direction: column;
}
.fourContainer{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: red;
  margin: 5px 10px;
}
.icon{
  font-size: 50px;
  stroke: #fff !important;
  fill: #fff !important;
  color: #fff !important;
}
.ingest .react-flow__handle-left {
  visibility: hidden;
}
/* .clean .react-flow__handle-left div:nth-child(2){
  margin-bottom: 10px !important;
  height: 50px !important;
} */
.clean .react-flow__handle-left:nth-child(1){
  
  top: 50% !important;
}
.clean div:nth-child(3){
  top: 100%;
}
.git div:nth-child(3){
  left: 10%;
}
.git div:nth-child(4){
  top: 20%;
}
.train div:nth-child(4){
  top: 10%;
}
.validateA div:nth-child(4){
  left: 30%;
}
.validateA div:nth-child(3){
  left: 70%;
}
.evaluate div:nth-child(3){
  top: 0%;
}
.package div:nth-child(3){
  top: 0%;
}